<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="shorten-form" action="/" method="post">
            <div>
                <label for="url">Enter URL:</label>
                <input type="text" name="url" id="url" required>
            </div>
            <div>
                <label for="shortCode"> Enter shortCode</label>
                <input type="text" name="shortCode" id="shortCode">
            </div>
            <button type="submit">Shorten</button>
        </form>
        <h2>Shortened URLs</h2>
        <ul id="shortened-urls">
            <!-- {{ shortened_urls }} -->
            <!-- Object.entries(links).map(([shortCode, url]) => {
                return `
                    <li>
                        <a href="/${shortCode}" target="_blank">${host}/${shortCode}</a>
                        <button class="copy-btn" onclick="navigator.clipboard.writeText('${host}/${shortCode}')">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v16h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 18H8V7h11v16z"/>
                            </svg>
                        </button>
                    </li>
                `;
            }).join("") -->

            <% Object.entries(links).map(([shortCode, url]) => { %>
                <li>
                     <a href="/<%= shortCode%>" target="_blank"><%= host%>/<%= shortCode%></a>
                        <button class="copy-btn" onclick="navigator.clipboard.writeText('<%= host%>/<%= shortCode%>')">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v16h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 18H8V7h11v16z"/>
                            </svg>
                        </button>
                </li>
                <% }) %>
        </ul>
    </div>
</body>
</html>